*.gem
*.rbc
.bundle
.config
config/application.yml
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.vagrant
hosts

# YARD artifacts
.yardoc
_yardoc
doc/

ip_mem
Vagrantfile

.idea/
hosts
