vagrant:
  lock_file: '/tmp/vagrant_tests.lock'
  base_box: servtag-test20
  hosts_file: '/home/bendyk/hosts'
  vagrant_file: '/home/bendyk/vagrant_tests/Vagrantfile'
  ip_mem: '/home/bendyk/vagrant_tests/ip_mem'
  management_path: '/home/bendyk/dealomio_management_api'
  targeting_path: '/home/bendyk/dealomio_targeting_api'
  dealkeeper_path: '/home/bendyk/dealomio_dealkeeper'
  integration_path: '/home/bendyk/dealomio_integration_test'
  bannerserver_path: '/home/bendyk/dealomio_bannerserver'
  imageserver_path: '/home/bendyk/dealomio_imageserver'
  reporting_path: '/home/bendyk/dealomio_reporting_api'
